.tooltip__content {
	& .tooltip__main {
		& .tooltip__table{
			padding-right: 0px;
		}
	}
}
.tooltip__preview.left_panel{
	max-width:calc(100% - 770px);
}
.tooltip__main--container.left_panel{
	min-width:740px;
}
.suggestions__table{
	margin-top: 10px;
	position: relative;
	left: -10px;
	width: calc(100% + 20px);
	margin-bottom: -10px;
}
.term__wrapper{
	margin-top:10px;
	position: relative;
	left: -10px;
	width: calc(100% + 20px);
	margin-bottom: -10px;
}
.term__wrapper{
	border-top:1px solid #ebebeb;
	display: none;
	& .term__elem{
		display: flex;
		justify-content:space-between;
		& .term__status{
			display: flex;
			align-items:center;
			justify-content:flex-start;
			margin-left:20px;
			&>p{
				margin:0px;
				margin-right:20px;
				color:rgba(120, 120, 120, 1);
				font-size:14px;
				line-height:20px;
				font-weight:400;
			}
			&>.term__status--info{
				min-width:50px;
				display: flex;
				height: 100%;
				align-items:center;
				justify-content:center;
				background: #E1F1F9;
				border-left:3px solid #6E9EBD;
			}
		}
		& .term__double{
			display: grid;
			grid-column-gap:0px;
			grid-template-columns:repeat(2 , 1fr);
			width: 100%;
			& .el__term{
				display: flex;
				align-items:center;
				justify-content:space-between;
				position: relative;
				padding:15px 10px;
				&:nth-child(1){
					padding-right:17px;
					&:before{
						right: 2px;
						content:"";
						position: absolute;
						width: 1px;
						// border-radius:4px;
						background-color:#EBEBEB;
						height: calc(100% - 20px);
					}
				}
				& .term__left{
					&>p{
						margin:0px;
						color:rgba(59, 59, 59, 1);
						font-size:14px;
						line-height:20px;
						font-weight:400;
						& span{
							&.term__approved{
								background: #E2EDF7;
								border-top:1px dashed #3F88C5;
								border-bottom:1px dashed #3F88C5;
							}
						}
					}
					&>span{
						display: inline-flex;
						white-space:nowrap;
						color:#3B3B3B;
						font-size:14px;
						font-weight:400;
						min-width:20px;
						margin-right:12px;
					}
				}
				& .term__right{
					& .term__status{
						&>p{
							margin:0px;
							color:#787878;
							font-size:14px;
							font-weight:400;
						}
					}
				}
				& p{
					margin:0px;
				}
				& .term__left{
					display: flex;
					align-items:center;
					justify-content:flex-start;
				}
			}
		}
	}
}
.qa__block{
	position: relative;
    border-top: 1px solid #ebebeb;
    background-color: #FAFAFA;
    margin-bottom: 1px;
    margin-left:-10px;
    width: calc(100% + 20px);
    margin-top: 10px;
    margin-bottom: -10px;
    & .elem__qa{
    	display: flex;
    	align-items:center;
    	justify-content:space-between;
    	padding:10px 20px;
    	border-bottom:1px solid #EBEBEB;
    	&:last-child{
    		border-bottom:0px;
    	}
    	& .qa__switcher{
    		display: flex;
    		align-items:center;
    		&>span{
    			margin-right:15px;
    			color:rgba(158, 158, 158, 1);
    			font-size:11px;
    			line-height:20px;
    			font-weight:400;
    		}
    	}
    	& .qa__info{
    		display: flex;
    		align-items:center;
    		justify-content:flex-start;
    		width: 100%;
    		margin-right:20px;
    		& span{
    			display: inline-flex;
    			min-width:20px;
    			max-width:20px;
    			margin-right:15px;
    			& img{
    				max-width:20px;
    			}
    		}
    		& p{
    			margin:0px;
    			color:rgba(59, 59, 59, 1);
    			font-size:12px;
    			font-weight:400;
    			line-height:20px;
    		}
    	}
    }
}
.symbols__wrapper{
	position: relative;
	left: -10px;
	width: calc(100% + 20px);
	margin-bottom:-10px;
	padding-left:15px;
	padding-right:15px;
	margin-top:10px;
}
.concordance__wrapper{
	width: 100%;
	position: relative;
	z-index: 2;
	left: -10px;
	width: calc(100% + 20px);
	position: relative;
    border-top: 1px solid #ebebeb;
    background-color: #FAFAFA;
    margin-bottom: -10px;
    margin-top:10px;
	&>form{
		width: 100%;
		&>.concordance__container{
			&>.concordance__elem{
				display: grid;
				grid-template-columns:repeat(2 , 1fr);
				border-bottom:1px solid #EBEBEB;
				grid-column-gap:0px;
				padding-right:65px;
				& .el__half{
					display: flex;
					align-items:center;
					justify-content:flex-start;
					padding:10px 10px;
					position: relative;
					&:nth-child(1){
						&:before{
							content: "";
						    position: absolute;
						    right: 0px;
						    width: 1px;
						    height: calc(100% - 20px);
						    background-color: #EBEBEB;
						    border-radius: 4px;
						}
					}
					&>span{
						min-width:20px;
						margin-right:30px;
						color:rgba(59, 59, 59, 1);
						font-size:10px;
						line-height:20px;
						font-weight:400;
					}
					&>p{
						&>span{
							&.searched__span{
								color:rgba(59, 59, 59, 1);
								font-size:12px;
								line-height:20px;
								font-weight:600;
								background-color:rgba(255, 244, 204, 1);
								border-top:1px dashed rgba(255, 199, 0, 1);
								border-bottom:1px dashed rgba(255, 199, 0, 1);
							}
							&.numb__span{
								background: #3F88C5;
								border-radius: 3px;
								display: inline-flex;
								align-items:center;
								justify-content:center;
								min-width:20px;
								max-width: 20px;
								min-height:20px;
								max-height:20px;
								margin-right:5px;
								color:rgba(255, 255, 255, 1);
								font-size:12px;
								line-height:20px;
								font-weight:600;
							}
						}
						margin:0px;
						color:rgba(59, 59, 59, 1);
						font-size:12px;
						line-height:20px;
						font-weight:400;
					}
				}
			}
		}
		&>.concordance__empty{
			padding:20px;
			padding-top:5px;
			& p{
				color:rgba(120, 120, 120, 1);
				font-size:12px;
				font-weight:400;
				line-height:20px;
				margin:0px;
			}
		}
		&>.concordance__search{
			display: flex;
			align-items:center;
			justify-content:flex-start;
			position: relative;
			margin-bottom:15px;
			&>a{
				position: absolute;
				right: 12px;
				display: inline-flex;
				align-items:center;
				justify-content:center;
			}
			&>input[type="text"]{
				width: 100%;
				height: 40px;
				border: 1px solid #EBEBEB;
				box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
				padding-left:35px;
				padding-right:50px;
				outline:none;
			}
			&>input[type="submit"]{
				background:url('../img/searchicon.svg');
				background-repeat: no-repeat;
				background-size:cover;
				background-position:center;
				position:absolute;
				left: 10px;
				min-width:14px;
				max-width:14px;
				min-height:14px;
				max-height:14px;
				outline:none;
				border:0px;
				transition:.4s ease all;
				&:hover{
					opacity:.7;
				}
				cursor:pointer;
			}
		}
	}
}
.history__wrapper{
	margin-top:10px;
	position: relative;
	left: -10px;
	width: calc(100% + 20px);
	margin-bottom: -10px;
	border-top:1px solid #EBEBEB;
}
.full__translation{
	& .full__top{
		display: flex;
		justify-content:space-between;
		& .full__top-left{
			display: grid;
			grid-template-columns:repeat(2 , 1fr);
			grid-column-gap:40px;
			padding-right:20px;
		}
		& .full__top--right{
			& .info__top--right{
				display: grid;
				grid-template-columns:repeat(2 , 1fr);
				grid-column-gap:10px;
				& .column__info{
					position: relative;
					& .status__comment{
						padding-left: 0px;
						margin-left: 0px;
						margin-top: 0px;
					}
					& .status__small{
						margin-top:10px;
						position: relative;
						margin-bottom:10px;
						display: flex;
						align-items:center;
						justify-content:center;
						&:last-child{
							margin-bottom: 0px;
						}
						&:nth-child(1){
							margin-top: 0px;
						}
						&>p{
							padding-left: 4px;
						    padding-right: 4px;
						    margin: 0px;
						    background: #FFFFFF;
						    border: 1px solid #0E7D7D;
						    display: -webkit-inline-box;
						    display: -ms-inline-flexbox;
						    display: inline-flex;
						    -webkit-box-align: center;
						    -ms-flex-align: center;
						    align-items: center;
						    font-size: 11px;
						    color: #0E7D7D;
						    line-height: 13px;
						    font-weight: 600;
						    -webkit-box-pack: center;
						    -ms-flex-pack: center;
						    justify-content: center;
						    border-radius: 4px;
						}
						& .status__float{

							position: absolute;
						    right: 0px;
						    margin-right: 35px;
						    background: #ADADAD;
						    -webkit-box-shadow: 0px 3px 10px rgba(0 ,0, 0,  0.1);
						    box-shadow: 0px 3px 10px rgba(0 ,0 ,0 , 0.1);
						    padding: 3px 9px;
						    display: -webkit-inline-box;
						    display: -ms-inline-flexbox;
						    display: inline-flex;
						    -webkit-box-align: center;
						    -ms-flex-align: center;
						    align-items: center;
						    -webkit-box-pack: center;
						    -ms-flex-pack: center;
						    justify-content: center;
						    border-radius: 4px;
						    display: none;
						    & p{
						    	padding:0px!important;
						    	background-color:transparent!important;
						    	border:0px!important;
						    	white-space: nowrap!important;
						    	margin: 0px!important;
							    font-size: 10px!important;
							    font-weight: 600!important;
							    display: flex;
							    align-items:center;
							    justify-content:center;
							    line-height: 16px!important;
							    color: white!important;
						    }
						}
					}
					& .status_col{
						& span{
							display: inline-flex;
							align-items:center;
							justify-content:center;
						}
					}
					& .double__arrow{
						margin-top:15px;
						&:nth-child(1){
							margin-top: 0px;
						}
						display: inline-flex;
						align-items:center;
						justify-content:center;
						position: relative;
						& a{
							display: inline-flex;
							align-items:center;
							justify-content:center;
							transition:.4s ease all;
							&:hover{
								opacity:.7;
							}
						}
						& .double__placeholder{
							position: absolute;
							right: 0px;
							margin-right:30px;
						    background: #ADADAD;
							box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
							border-radius: 4px;
							padding:3px 9px;
							top:0px;
							display: none;
							& p{
								margin:0px;
								white-space: nowrap;
								color:rgba(255, 255, 255, 1);
								font-size:10px;
								line-height:16px;
								font-weight:600;
							}
						}
					}
					& .status__translate{
						display: inline-flex;
						align-items:center;
						justify-content:center;
						position: relative;
						& .status__info{
							position: absolute;
							right: 0px;
							margin-right:30px;
							background: #ADADAD;
							box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
							padding:3px 9px;
							display: inline-flex;
							align-items:center;
							justify-content:center;
							border-radius: 4px;
							display: none;
							& p{
								margin:0px;
								font-size:10px;
								font-weight:600;
								white-space: nowrap;
								line-height:16px;
								color:rgba(255, 255, 255, 1);
							}
						}
					}
					&:nth-child(2){
						&:before{
							content:"";
							position: absolute;
							left: 0px;
							width: 1px;
							height: 100%;
							background-color:#EBEBEB;
						}
					}
					display: flex;
					flex-direction:column;
					justify-content:flex-start;
					align-items:center;
				}
			}
		}
	}
}

.translate__suggestions{
	margin-top:15px;
	margin-bottom: -10px;
	margin-left:-10px;
	overflow-x:auto;
	// border-bottom:1px solid #ebebeb;
	&>ul{
		padding:0px;
		list-style-type: none;
		margin:0px;
		display: flex;
		padding-bottom:1px;
		&::-webkit-scrollbar {
		  width: 3px;
		  height: 3px;
		}
		 
		&::-webkit-scrollbar-track {
		 background-color:#E9E9E9;
		}
		 
		&::-webkit-scrollbar-thumb {
		  background-color: #AEAEAE;
		  border-radius:3px;
		}
		& li{
			display: inline-flex;

			&.active__suggestion{
				& a{
					background: #ECF5F5;
					box-shadow: 0px 1px 0px #0E7D7D;
				}
			}
			& a{
				padding:10px;
				display: inline-flex;
				color:rgba(14, 125, 125, 1);
				font-size:11px;
				line-height:21px;
				font-weight:600;
				text-decoration: none;
				transition:.4s ease all;
				&:hover{
					background: #ECF5F5;
					
				}
				&:active , &:focus{
					box-shadow: 0px 1px 0px #0E7D7D;
				}
				& span{
					margin-left:10px;
					display: inline-flex;
					align-items:center;
					justify-content:center;
					padding:3px 7px;
					background: #0E7D7D;
					border-radius:250px;
					color:#fff;
					min-width: 21px;
					font-size:12px;
					line-height:16px;
					font-weight:600;
				}
			}
		}
	}
}
.active__translate{
	& .full__bottom{
		& .translate__details{
			display: block;
		}
	}
}
.full__bottom{
	& .translate__details{
		display: none;
		& a{
			display: -webkit-inline-box;
		    display: -ms-inline-flexbox;
		    display: inline-flex;
		    -webkit-box-align: center;
		    -ms-flex-align: center;
		    align-items: center;
		    -webkit-box-pack: center;
		    -ms-flex-pack: center;
		    justify-content: center;
		    color: #0e7d7d;
		    font-size: 12px;
		    line-height: 16px;
		    font-weight: 600;
		    -webkit-transition: .4s ease all;
		    transition: .4s ease all;
		    text-decoration: none;
		}

	}
}
.full__bottom .controls__right{
	padding-right: 0px!important;
}



.right__quote{
	display: inline-flex;
	margin-left:3px;
	align-items:center;
	& .left__quote{
		padding-top: 0px;
	    padding-bottom: 0px;
	    padding-left: 8px;
	    padding-right: 6px;
	    margin-right: 0px;
	    background: #3F88C5;
	    border-top-left-radius: 10px;
	    border-bottom-left-radius: 10px;
	    font-size: 12px;
	    color: white;
	    font-weight: 600;
	    margin-right:3px;
	}
	& .quote__icon{
		display: inline-flex;
		min-width:20px;
		min-height:20px;
		max-width:20px;
		max-height:20px;
		justify-content:center;
		align-items:center;
		background: #FDD4E0;
	}
}
.double__quote{
	display: inline-flex;
	&>.left__quote{
	    padding-top: 0px;
	    padding-bottom: 0px;
	    padding-left: 8px;
	    padding-right: 6px;
	    margin-right: 0px;
	    background: #3F88C5;
	    border-top-left-radius: 10px;
	    border-bottom-left-radius: 10px;
	    font-size: 12px;
	    color: white;
	    font-weight: 600;
	}
	&>.right__quote{
		padding-top:0px;
		padding-bottom: 0px;
		padding-right:8px;
		margin-right:3px;
		padding-left:6px;
		background: #3F88C5;
		border-top-right-radius:10px;
		border-bottom-right-radius:10px;
		font-size:12px;
		color:rgba(255, 255, 255, 1);
		font-weight:600;
		margin-left:5px;
	}
}
 .quote__right--inner{
	padding-top:0px;
	padding-bottom: 0px;
	padding-right:8px;
	margin-right:6px;
	padding-left:6px;
	background: #3F88C5;
	border-top-right-radius:10px;
	border-bottom-right-radius:10px;
	font-size:12px;
	color:rgba(255, 255, 255, 1);
	font-weight:600;
	margin-left:5px;
}
.left__quote{
	padding-top:0px;
	padding-bottom: 0px;
	padding-left:8px;
	padding-right:6px;
	margin-right:5px;
	background: #3F88C5;
	border-top-left-radius:10px;
	border-bottom-left-radius:10px;
	font-size:12px;
	color:rgba(255, 255, 255, 1);
	font-weight:600;
}

.full__bottom .controls__right{
	position: relative;
}
.full__bottom .verified__info{
	display: flex;
	align-items:center;
	justify-content:flex-start;
	position: absolute;
	right:173px;
	top:4px;
	& span{
		& img{
			margin-right:6px;
		}
	    color: #F4284D;
	    font-size: 14px;
	    font-weight: 600;
		display: inline-flex;
		align-items:center;
	}
}
.tooltip__content .tooltip__main .tooltip__table--wrapper , .tooltip__content .tooltip__main .progress__tooltip{ 
	width: calc(100%);
}

// .full__bottom .translate__controls{
// 	& .controls__left{

// 		margin-right: 80px!important;
// 	}
// }
.tooltip__app .tooltip__header .left__tooltip .tooltip__menu ul li.droppable__menu .droppable__box{
	top:40px;
}
.tooltip__app .tooltip__header .left__tooltip .tooltip__menu ul li.droppable__menu .droppable__box ul{
	box-shadow:none;
}
@media (max-width: 1640px){
	.tooltip__content .tooltip__main .tooltip__table table tr td .translate__controls .controls__left{
		margin-left: 	0px!important;
		margin-right: 	90px!important;
	}
	.tooltip__content .tooltip__main .tooltip__table table tr.active__translate td .translate__controls{
		justify-content:flex-end!important;
	}

}
@media (max-width: 1200px){
	.tooltip__content .tooltip__main .tooltip__table table{
		min-width: 1180px;
	}
}