.tooltip__content .tooltip__main .tooltip__table {
  padding-right: 0px;
}

.tooltip__preview.left_panel {
  max-width: calc(100% - 770px);
}

.tooltip__main--container.left_panel {
  min-width: 740px;
}

.suggestions__table {
  margin-top: 10px;
  position: relative;
  left: -10px;
  width: calc(100% + 20px);
  margin-bottom: -10px;
}

.term__wrapper {
  margin-top: 10px;
  position: relative;
  left: -10px;
  width: calc(100% + 20px);
  margin-bottom: -10px;
}

.term__wrapper {
  border-top: 1px solid #ebebeb;
  display: none;
}
.term__wrapper .term__elem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.term__wrapper .term__elem .term__status {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-left: 20px;
}
.term__wrapper .term__elem .term__status > p {
  margin: 0px;
  margin-right: 20px;
  color: #787878;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}
.term__wrapper .term__elem .term__status > .term__status--info {
  min-width: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #E1F1F9;
  border-left: 3px solid #6E9EBD;
}
.term__wrapper .term__elem .term__double {
  display: grid;
  grid-column-gap: 0px;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
}
.term__wrapper .term__elem .term__double .el__term {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  padding: 15px 10px;
}
.term__wrapper .term__elem .term__double .el__term:nth-child(1) {
  padding-right: 17px;
}
.term__wrapper .term__elem .term__double .el__term:nth-child(1):before {
  right: 2px;
  content: "";
  position: absolute;
  width: 1px;
  background-color: #EBEBEB;
  height: calc(100% - 20px);
}
.term__wrapper .term__elem .term__double .el__term .term__left > p {
  margin: 0px;
  color: #3b3b3b;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}
.term__wrapper .term__elem .term__double .el__term .term__left > p span.term__approved {
  background: #E2EDF7;
  border-top: 1px dashed #3F88C5;
  border-bottom: 1px dashed #3F88C5;
}
.term__wrapper .term__elem .term__double .el__term .term__left > span {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  white-space: nowrap;
  color: #3B3B3B;
  font-size: 14px;
  font-weight: 400;
  min-width: 20px;
  margin-right: 12px;
}
.term__wrapper .term__elem .term__double .el__term .term__right .term__status > p {
  margin: 0px;
  color: #787878;
  font-size: 14px;
  font-weight: 400;
}
.term__wrapper .term__elem .term__double .el__term p {
  margin: 0px;
}
.term__wrapper .term__elem .term__double .el__term .term__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.qa__block {
  position: relative;
  border-top: 1px solid #ebebeb;
  background-color: #FAFAFA;
  margin-bottom: 1px;
  margin-left: -10px;
  width: calc(100% + 20px);
  margin-top: 10px;
  margin-bottom: -10px;
}
.qa__block .elem__qa {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 20px;
  border-bottom: 1px solid #EBEBEB;
}
.qa__block .elem__qa:last-child {
  border-bottom: 0px;
}
.qa__block .elem__qa .qa__switcher {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.qa__block .elem__qa .qa__switcher > span {
  margin-right: 15px;
  color: #9e9e9e;
  font-size: 11px;
  line-height: 20px;
  font-weight: 400;
}
.qa__block .elem__qa .qa__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
  margin-right: 20px;
}
.qa__block .elem__qa .qa__info span {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  min-width: 20px;
  max-width: 20px;
  margin-right: 15px;
}
.qa__block .elem__qa .qa__info span img {
  max-width: 20px;
}
.qa__block .elem__qa .qa__info p {
  margin: 0px;
  color: #3b3b3b;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
}

.symbols__wrapper {
  position: relative;
  left: -10px;
  width: calc(100% + 20px);
  margin-bottom: -10px;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 10px;
}

.concordance__wrapper {
  width: 100%;
  position: relative;
  z-index: 2;
  left: -10px;
  width: calc(100% + 20px);
  position: relative;
  border-top: 1px solid #ebebeb;
  background-color: #FAFAFA;
  margin-bottom: -10px;
  margin-top: 10px;
}
.concordance__wrapper > form {
  width: 100%;
}
.concordance__wrapper > form > .concordance__container > .concordance__elem {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  border-bottom: 1px solid #EBEBEB;
  grid-column-gap: 0px;
  padding-right: 65px;
}
.concordance__wrapper > form > .concordance__container > .concordance__elem .el__half {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 10px 10px;
  position: relative;
}
.concordance__wrapper > form > .concordance__container > .concordance__elem .el__half:nth-child(1):before {
  content: "";
  position: absolute;
  right: 0px;
  width: 1px;
  height: calc(100% - 20px);
  background-color: #EBEBEB;
  border-radius: 4px;
}
.concordance__wrapper > form > .concordance__container > .concordance__elem .el__half > span {
  min-width: 20px;
  margin-right: 30px;
  color: #3b3b3b;
  font-size: 10px;
  line-height: 20px;
  font-weight: 400;
}
.concordance__wrapper > form > .concordance__container > .concordance__elem .el__half > p {
  margin: 0px;
  color: #3b3b3b;
  font-size: 12px;
  line-height: 20px;
  font-weight: 400;
}
.concordance__wrapper > form > .concordance__container > .concordance__elem .el__half > p > span.searched__span {
  color: #3b3b3b;
  font-size: 12px;
  line-height: 20px;
  font-weight: 600;
  background-color: #fff4cc;
  border-top: 1px dashed #ffc700;
  border-bottom: 1px dashed #ffc700;
}
.concordance__wrapper > form > .concordance__container > .concordance__elem .el__half > p > span.numb__span {
  background: #3F88C5;
  border-radius: 3px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-width: 20px;
  max-width: 20px;
  min-height: 20px;
  max-height: 20px;
  margin-right: 5px;
  color: white;
  font-size: 12px;
  line-height: 20px;
  font-weight: 600;
}
.concordance__wrapper > form > .concordance__empty {
  padding: 20px;
  padding-top: 5px;
}
.concordance__wrapper > form > .concordance__empty p {
  color: #787878;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  margin: 0px;
}
.concordance__wrapper > form > .concordance__search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  position: relative;
  margin-bottom: 15px;
}
.concordance__wrapper > form > .concordance__search > a {
  position: absolute;
  right: 12px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.concordance__wrapper > form > .concordance__search > input[type="text"] {
  width: 100%;
  height: 40px;
  border: 1px solid #EBEBEB;
  -webkit-box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
  padding-left: 35px;
  padding-right: 50px;
  outline: none;
}
.concordance__wrapper > form > .concordance__search > input[type="submit"] {
  background: url("../img/searchicon.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: absolute;
  left: 10px;
  min-width: 14px;
  max-width: 14px;
  min-height: 14px;
  max-height: 14px;
  outline: none;
  border: 0px;
  -webkit-transition: .4s ease all;
  transition: .4s ease all;
  cursor: pointer;
}
.concordance__wrapper > form > .concordance__search > input[type="submit"]:hover {
  opacity: .7;
}

.history__wrapper {
  margin-top: 10px;
  position: relative;
  left: -10px;
  width: calc(100% + 20px);
  margin-bottom: -10px;
  border-top: 1px solid #EBEBEB;
}

.full__translation .full__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.full__translation .full__top .full__top-left {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 40px;
  padding-right: 20px;
}
.full__translation .full__top .full__top--right .info__top--right {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 10px;
}
.full__translation .full__top .full__top--right .info__top--right .column__info {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.full__translation .full__top .full__top--right .info__top--right .column__info .status__comment {
  padding-left: 0px;
  margin-left: 0px;
  margin-top: 0px;
}
.full__translation .full__top .full__top--right .info__top--right .column__info .status__small {
  margin-top: 10px;
  position: relative;
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.full__translation .full__top .full__top--right .info__top--right .column__info .status__small:last-child {
  margin-bottom: 0px;
}
.full__translation .full__top .full__top--right .info__top--right .column__info .status__small:nth-child(1) {
  margin-top: 0px;
}
.full__translation .full__top .full__top--right .info__top--right .column__info .status__small > p {
  padding-left: 4px;
  padding-right: 4px;
  margin: 0px;
  background: #FFFFFF;
  border: 1px solid #0E7D7D;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 11px;
  color: #0E7D7D;
  line-height: 13px;
  font-weight: 600;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-radius: 4px;
}
.full__translation .full__top .full__top--right .info__top--right .column__info .status__small .status__float {
  position: absolute;
  right: 0px;
  margin-right: 35px;
  background: #ADADAD;
  -webkit-box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
  padding: 3px 9px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-radius: 4px;
  display: none;
}
.full__translation .full__top .full__top--right .info__top--right .column__info .status__small .status__float p {
  padding: 0px !important;
  background-color: transparent !important;
  border: 0px !important;
  white-space: nowrap !important;
  margin: 0px !important;
  font-size: 10px !important;
  font-weight: 600 !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  line-height: 16px !important;
  color: white !important;
}
.full__translation .full__top .full__top--right .info__top--right .column__info .status_col span {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.full__translation .full__top .full__top--right .info__top--right .column__info .double__arrow {
  margin-top: 15px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}
.full__translation .full__top .full__top--right .info__top--right .column__info .double__arrow:nth-child(1) {
  margin-top: 0px;
}
.full__translation .full__top .full__top--right .info__top--right .column__info .double__arrow a {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: .4s ease all;
  transition: .4s ease all;
}
.full__translation .full__top .full__top--right .info__top--right .column__info .double__arrow a:hover {
  opacity: .7;
}
.full__translation .full__top .full__top--right .info__top--right .column__info .double__arrow .double__placeholder {
  position: absolute;
  right: 0px;
  margin-right: 30px;
  background: #ADADAD;
  -webkit-box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  padding: 3px 9px;
  top: 0px;
  display: none;
}
.full__translation .full__top .full__top--right .info__top--right .column__info .double__arrow .double__placeholder p {
  margin: 0px;
  white-space: nowrap;
  color: white;
  font-size: 10px;
  line-height: 16px;
  font-weight: 600;
}
.full__translation .full__top .full__top--right .info__top--right .column__info .status__translate {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}
.full__translation .full__top .full__top--right .info__top--right .column__info .status__translate .status__info {
  position: absolute;
  right: 0px;
  margin-right: 30px;
  background: #ADADAD;
  -webkit-box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
  padding: 3px 9px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 4px;
  display: none;
}
.full__translation .full__top .full__top--right .info__top--right .column__info .status__translate .status__info p {
  margin: 0px;
  font-size: 10px;
  font-weight: 600;
  white-space: nowrap;
  line-height: 16px;
  color: white;
}
.full__translation .full__top .full__top--right .info__top--right .column__info:nth-child(2):before {
  content: "";
  position: absolute;
  left: 0px;
  width: 1px;
  height: 100%;
  background-color: #EBEBEB;
}

.translate__suggestions {
  margin-top: 15px;
  margin-bottom: -10px;
  margin-left: -10px;
  overflow-x: auto;
}
.translate__suggestions > ul {
  padding: 0px;
  list-style-type: none;
  margin: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 1px;
}
.translate__suggestions > ul::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}
.translate__suggestions > ul::-webkit-scrollbar-track {
  background-color: #E9E9E9;
}
.translate__suggestions > ul::-webkit-scrollbar-thumb {
  background-color: #AEAEAE;
  border-radius: 3px;
}
.translate__suggestions > ul li {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}
.translate__suggestions > ul li.active__suggestion a {
  background: #ECF5F5;
  -webkit-box-shadow: 0px 1px 0px #0E7D7D;
          box-shadow: 0px 1px 0px #0E7D7D;
}
.translate__suggestions > ul li a {
  padding: 10px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  color: #0e7d7d;
  font-size: 11px;
  line-height: 21px;
  font-weight: 600;
  text-decoration: none;
  -webkit-transition: .4s ease all;
  transition: .4s ease all;
}
.translate__suggestions > ul li a:hover {
  background: #ECF5F5;
}
.translate__suggestions > ul li a:active, .translate__suggestions > ul li a:focus {
  -webkit-box-shadow: 0px 1px 0px #0E7D7D;
          box-shadow: 0px 1px 0px #0E7D7D;
}
.translate__suggestions > ul li a span {
  margin-left: 10px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 3px 7px;
  background: #0E7D7D;
  border-radius: 250px;
  color: #fff;
  min-width: 21px;
  font-size: 12px;
  line-height: 16px;
  font-weight: 600;
}

.active__translate .full__bottom .translate__details {
  display: block;
}

.full__bottom .translate__details {
  display: none;
}
.full__bottom .translate__details a {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #0e7d7d;
  font-size: 12px;
  line-height: 16px;
  font-weight: 600;
  -webkit-transition: .4s ease all;
  transition: .4s ease all;
  text-decoration: none;
}

.full__bottom .controls__right {
  padding-right: 0px !important;
}

.right__quote {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-left: 3px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.right__quote .left__quote {
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 8px;
  padding-right: 6px;
  margin-right: 0px;
  background: #3F88C5;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  font-size: 12px;
  color: white;
  font-weight: 600;
  margin-right: 3px;
}
.right__quote .quote__icon {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  min-width: 20px;
  min-height: 20px;
  max-width: 20px;
  max-height: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #FDD4E0;
}

.double__quote {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}
.double__quote > .left__quote {
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 8px;
  padding-right: 6px;
  margin-right: 0px;
  background: #3F88C5;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  font-size: 12px;
  color: white;
  font-weight: 600;
}
.double__quote > .right__quote {
  padding-top: 0px;
  padding-bottom: 0px;
  padding-right: 8px;
  margin-right: 3px;
  padding-left: 6px;
  background: #3F88C5;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  font-size: 12px;
  color: white;
  font-weight: 600;
  margin-left: 5px;
}

.quote__right--inner {
  padding-top: 0px;
  padding-bottom: 0px;
  padding-right: 8px;
  margin-right: 6px;
  padding-left: 6px;
  background: #3F88C5;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  font-size: 12px;
  color: white;
  font-weight: 600;
  margin-left: 5px;
}

.left__quote {
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 8px;
  padding-right: 6px;
  margin-right: 5px;
  background: #3F88C5;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  font-size: 12px;
  color: white;
  font-weight: 600;
}

.full__bottom .controls__right {
  position: relative;
}

.full__bottom .verified__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  position: absolute;
  right: 173px;
  top: 4px;
}
.full__bottom .verified__info span {
  color: #F4284D;
  font-size: 14px;
  font-weight: 600;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.full__bottom .verified__info span img {
  margin-right: 6px;
}

.tooltip__content .tooltip__main .tooltip__table--wrapper, .tooltip__content .tooltip__main .progress__tooltip {
  width: calc(100%);
}

.tooltip__app .tooltip__header .left__tooltip .tooltip__menu ul li.droppable__menu .droppable__box {
  top: 40px;
}

.tooltip__app .tooltip__header .left__tooltip .tooltip__menu ul li.droppable__menu .droppable__box ul {
  -webkit-box-shadow: none;
          box-shadow: none;
}

@media (max-width: 1640px) {
  .tooltip__content .tooltip__main .tooltip__table table tr td .translate__controls .controls__left {
    margin-left: 0px !important;
    margin-right: 90px !important;
  }

  .tooltip__content .tooltip__main .tooltip__table table tr.active__translate td .translate__controls {
    -webkit-box-pack: end !important;
        -ms-flex-pack: end !important;
            justify-content: flex-end !important;
  }
}
@media (max-width: 1200px) {
  .tooltip__content .tooltip__main .tooltip__table table {
    min-width: 1180px;
  }
}
